#loader {
    z-index: 99999999999999999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
}

#loader div {
    width: 100%;
    height: 100%;
}

#loader img {
    width: 5em;
    margin-bottom: 5px;
}

#loader h6 {
    color: #e9e9e9;
}
